<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/libs/bootstrap/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap" rel="stylesheet">
    <style>
        .bold{
            font-weight:bold;
            font-size:25px;
            font-family: 'Black Ops One', cursive;
            font-family: 'Roboto', sans-serif;
            font-family: 'Young Serif', serif;
        }
        .mr{
            justify-content:end;
            font-size:18px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
    @await RenderSectionAsync("styles", false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-toggleable bg-secondary" style="padding-top: 2px; padding-bottom: 2px;">
        <div class="container">
            <a class="navbar-brand text-white bold" asp-area="" asp-controller="Home" asp-action="Index">Tourify</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav mr">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="TourPackages" asp-action="Index">TourPackage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="TourPackages" asp-action="Aggregates">Aggregates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="TourPackages" asp-action="Grouping">Grouping</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-2">
        @RenderBody()
    </div>
    @await RenderSectionAsync("scripts", false)
</body>
</html>
