@model TourPackageInputModel
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-12">
        <h3 class="d-flex justify-content-center mb-3"><u>Add New TourPackage</u></h3>
        <form id="frm" method="post" asp-action="Create" asp-controller="TourPackages">
            <div class="form-group row mb-1 offset-2">
                <label asp-for="PackageName" class="col-form-label col-2"></label>
                <div class="col-6">
                    <input asp-for="PackageName" class="form-control form-control-sm" />
                    <span asp-validation-for="PackageName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-1 offset-2">
                <label asp-for="PackageType" class="col-form-label col-2"></label>
                <div class="col-6">
                    <select asp-for="PackageType" class="form-select form-select-sm" asp-items="@Html.GetEnumSelectList<PackageType>()">
                        <option value="" selected>Select one</option>
                    </select>
                    <span asp-validation-for="PackageType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-1 offset-2">
                <label asp-for="Price" class="col-form-label col-2"></label>
                <div class="col-6">
                    <input asp-for="Price" class="form-control form-control-sm" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-1 offset-2">
                <label asp-for="Description" class="col-form-label col-2"></label>
                <div class="col-6">
                    <input asp-for="Description" class="form-control form-control-sm" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-1 offset-2">
                <label asp-for="Destinations" class="col-form-label col-2"></label>
                <div class="col-6">
                    <input asp-for="Destinations" class="form-control form-control-sm" />
                    <span asp-validation-for="Destinations" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-1 offset-2">
                <label asp-for="Duration" class="col-form-label col-2"></label>
                <div class="col-6">
                    <input asp-for="Duration" class="form-control form-control-sm" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-1 offset-2">
                <label asp-for="Picture" class="col-form-label col-2"></label>
                <div class="col-6">
                    <input type="file" asp-for="Picture" class="form-control form-control-sm" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-1 offset-4">
                <div class="col-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="IsActive">
                        <label class="form-check-label">
                            Is Active?
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-1 offset-1">
                <div class="col-10">
                    <h4 class="d-flex justify-content-center mb-3"><u>Bookings</u></h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>TravelerName</th>
                                <th>PhoneNumber</th>
                                <th>NumberOfTravelers</th>
                                <th>BookingDate</th>
                                <th>BookingStatus</th>
                                <th>
                                    <button type="button" class="btn btn-outline-primary btn-sm" id="add">Add</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                          
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row mb-1 offset-1">
                <div class="col-10">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-secondary"><a asp-action="Index" asp-controller="TourPackages" style="color:white; text-decoration:none;">Back to Home</a></button>
                        <button type="button" class="btn btn-primary" id="save">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts
    {
    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/validate/jquery.validate.js"></script>
    <script src="~/libs/validate/jquery.validate.unobtrusive.js"></script>
    <script>
        addBookingsForm();
        $("#add").click(() => {
            addBookingsForm();
        });
        $(document).on("click", "button.del", function () {
            $(this).closest("tr").remove();
        });
        $("#save").click(() => {
            if (!$("#frm").valid()) return;

            var data = {
                PackageName: $("#PackageName").val(),
                Description: $("#Description").val(),
                Duration: $("#Duration").val(),
                Destinations: $("#Destinations").val(),
                Price: $("#Price").val(),
                Picture: '', // This should be updated when the file is uploaded
                PackageType: $("#PackageType").val(),
                IsActive: document.getElementById("IsActive").checked,
                Bookings: []
            };
           
            var travelerNames = $("input[name=TravelerName]");
            var phoneNumbers = $("input[name=PhoneNumber]");
            var numberOfTravelers = $("input[name=NumberOfTravelers]");
            var bookingDates = $("input[name=BookingDate]");
            var bookingStatus = $("input[name=BookingStatus]");

            for (var i = 0; i < travelerNames.length; i++) {
                data.Bookings.push({
                    TravelerName: $(travelerNames[i]).val(),
                    PhoneNumber: $(phoneNumbers[i]).val(),
                    NumberOfTravelers: $(numberOfTravelers[i]).val(),
                    BookingDate: $(bookingDates[i]).val(), // Ensure the property name matches your model
                    BookingStatus: $(bookingStatus[i]).val() // Ensure the property name matches your model
                });
            }

            if (document.getElementById("Picture").files.length > 0) {
                var f = document.getElementById("Picture").files[0];
                var formData = new FormData();
                formData.append("file", f); // Use the same key as expected on the server
                $.ajax({
                    url: '/TourPackages/Upload',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: (r) => {
                        data.Picture = r.name; // Update the Picture property with the file name
                        saveData(data);
                    }
                });
            }
        });

        function saveData(x) {
            console.log(x);
            $.ajax({
                type: "post",
                url: "/TourPackages/Create",
                data: { model: x },
                dataType: "json",
                success: r => {
                    console.log(r);
                    if (r.success == true) {
                        window.location.href = "/TourPackages/Index";
                    }
                }
            })
        }
        function addBookingsForm() {
            $.ajax({
                type: "get",
                url: "/TourPackages/GetBookingsForm",
                success: r => {
                    $("#tbody").append(r);
                    $("#frm").removeData("validator").removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse($("#frm"));
                }
            });
        }
    </script>
}

